<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List WishList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="alert alert-success">
  <h1>
  WISHLIST: 
  </h1>
  
</div> 
<div class="container">
 <table class="table table-bordered">
        <thead>
        <tr>
            <th>WishListItemID</th>
            <th>WishListID</th>
            <th>BookID</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${book}">
        	<td th:text="${book.wishlistitemID}"></td>
        	<td th:text="${book.Wishlist.wishlistID}"></td>
            <td th:text="${book.Book.book_id}"></td>
            <td>
        </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div style="text-align: center; margin-bottom: 20px;">
 <a th:href="@{/wishlist/list}" class="btn btn-success" role="button">Go Back</a>  <!-- fix back button to go back to wishlist list (COMPLETE) --> 
</div>
</body>
</html>